# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[{*.c,*.h}]
charset = cp932

[{*.s,process.h,ihstory.txt,makefile.x68}]
charset = cp932
indent_style = tab
indent_size = 8
